Django>=4.2
djangorestframework
django-filter
djangorestframework-simplejwt
django-redis
redis
celery
django-celery-beat
python-dotenv
gunicorn
psycopg2-binary
django-cors-headers
dj-database-url
django-storages
boto3
sentry-sdk
python-json-logger
whitenoise>=6.0.0
google-auth>=2.0.0
